body {
    background-color: #F2F2F2;
    color: #242424;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover; 
    margin: 0px; 
}

nav li {
    display: inline;
}
nav {
    background-color: #BFDBDA;
    padding: 14px 24px 14px 24px;
  

}
nav a, nav:visited, a:hover {
    text-transform: uppercase;
    text-decoration: underline;
    color: #242424;
    font-weight: bold;
    margin-right: 24px;
}

footer {
    background-color: #BFDBDA;
    padding-top: 44px;
    font-size: 10px;
}

@media (max-width: 600px) {
    body {
        background-position: center;
    }

    article img {
       display: none; 
    }

}
